.top_page_body {
  width: 100vw;
  height: 100vh;
  background-image: url('forest.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.page_wrapper {
 background-color: #0F0;
}